<div class="row">
    <div class="col-md-12" style="height:250px; max-height: 300px;">
        <MonacoEditor @ref="monacoEditor" CssClass="monaco-editor-container" Id="@Id" OnDidChangeModelContent="@UpdateInput" ConstructionOptions="MonacoEditorConstructionOptions" />
    </div>
</div>


