@page "/about"

<h3>About JLio</h3>

<p>
    JLio was built out of necessity for a transformer in a low code- no-code environment. Most of those platforms could handle call activities to web services but lacked a low-code transformation logic implementation. So, when combining the different low-code elements, there is often no alignment between the data objects. The interfaces of those services most likely would not line up. Transformation of the data objects was be needed to hand over data from one service to another.  The lack of these transformers eliminates the low-code or no-code approach, and therefore Jlio was created.
</p>
<p>
    Therefore I created the JLio transformation language, and so, with the support of nexxbiz and particularly Cristina Mudura and Vlad Cristan, the code was developed.
</p>
<p>
    The aim is to have an open-source, easy extendable base for these transformations. Hoping it can help you in solving all the JSON transformation needs you might have.
</p>
<p>
    If you have any questions, comments, feedback, or just want to buy me a coffee, just reach out.  All feedback is much appreciated.
</p>
<p>
    Frans van Ek
</p>
@code {

}
