@page "/sponsor"

    <iframe src="https://github.com/sponsors/FransVanEk/card" title="Sponsor FransVanEk" height="225" width="600" style="border: 0;"></iframe>

<h2>Why Sponsor Me?</h2>
<div style="max-width: 450px">
    I love working on JLio, but it takes a lot of time and effort. So besides a full-time job, I spend my time building Jlio into a more comprehensive tool that supports all sorts of transformations.
    Testing, providing an online designer/testing tool and making sure the JLio gets the proper attention at different locations take up a lot of resources. I have a lot of new features and improvements in mind, but I can't realize these ideas without your help. So if you've found the work I've done helpful to you and would like to see what I can do with more time and resources, please consider supporting my work via GitHub sponsorship!
</div>
<div>
    Thank you.
</div>
