@page "/test"

<h3>Test</h3>

<div class="row">
    <div class="col-md-6">
        <JsonEditor @bind-Text="@script"></JsonEditor>
    </div>
    <div class="col-md-6">
        <JsonEditor @bind-Text="@script2"></JsonEditor>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <JsonDiff @bind-OriginalJson=@script @bind-ModifiedJson=@script2></JsonDiff>
    </div>
</div>
@code {

    string script { get; set; } = "{}";

    string script2 { get; set; } = "{ \"demo\" : 99}";


}
