@inject SamplesStore samplesstore

<div class="top-row pl-4 navbar navbar-dark">

    <RadzenImage Path="images/icon.png" Style="width:48px;height:48px;" />

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/multipleInputEditor" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"></span>Editor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/samples" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"></span>Samples
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/about" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"></span>About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/sponsor" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"></span>Sponsor project
            </NavLink>
        </li>
    </ul>
</div>
<div id="footer">
    @version
</div>
@code {
    private bool collapseNavMenu = true;
    string version = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        version = $"JLio Engine: {typeof(JLioConvert).Assembly.GetName().Version}";
    }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
